[package]
name = "verde"
version = "0.1.0"
authors = ["quantix <me@quantix.dev>"]
edition = "2021"
description = "Syncs file systems between roblox studio and your editor of choice"
repository = "https://github.com/quantix-dev/verde"
license = "MPL-2.0"
categories = ["command-line-utilities", "development-tools"]
rust-version = "1.70"

[dev-dependencies]
tempfile = "3.6.0"

[dependencies]
tokio = { version = "1.33", features = ["full"] }
clap = { version = "4.4", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
serde_json = "1.0"
warp = "0.3"
notify = "6.0"
anyhow = "1.0"
globset = "0.4.14"

[profile.release]
strip = true
