:root {
  /* Branding */
  --vp-c-brand: #10b981;
  --vp-c-brand-light: #0ed795;
  --vp-c-brand-dark: #00754f;
  --vp-c-brand-darker: #004f36;

  /* Home */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand-darker),
    var(--vp-c-brand-light)
  );

  /* Font */
}
