:root {
  /* Branding */
  --vp-c-brand-1: #0ed795; /* Colored text. Contrast compare to --vp-c-brand-soft */
  --vp-c-brand-2: #0ed795; /* Hover state */
  --vp-c-brand-3: #006646; /* Solid background. Contrast compare with #ffffff */
  --vp-c-brand-soft: #168c654f; /* Subtle background such as custom container or badges */

  /* Home */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    0deg,
    var(--vp-c-brand-1),
    var(--vp-c-brand-3)
  );

  /* Font */
}
